{% extends "base.html" %} {% block content %}
<div class="col mt-4">
  <h2>Update Item</h2>
</div>
<form method="POST" action="" class="row row-cols-lg-auto">
  {% csrf_token %}
  <div class="col-12"> {{form.text}} </div>
  <div class="col-12">
    <label class="form-check-label" for="exampleCheck1">Completed</label>
    {{form.completed}}
  </div>
  <div class="col-12">
    <button class="btn btn-primary mb-2" type="submit" id="">Update</button>
  </div>
</form>
<div class="col-12">
  <a href="{% url 'to_do:index' %}" class="btn btn-secondary mb-2" type="submit" id="">Back</a>
</div>
{% endblock %}
